/* PAGINA DE INICIO (index.html) ---------------------------------------*/
.espacio {
    height: 25px;
    width: 100%;
}

.text-home {
    width: auto;
    height: auto;
    text-align: left;
    padding: 0px;
    margin: 0;
    position: relative;
    top: 5px;
}

.texto-inicio {
    margin: 10% 4%;

}

.main-title {
    color: white;
    font-size: 70px;
    margin: auto;
    top: 150px
}

.main-title-jm {
    color: aquamarine;
}

/* p {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
} */

.subtitulo {
    margin: 0;
    color: white;
    display: inline;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    align-items: center;
    padding: 0;
}

.btn-redireccion {
    text-align: center;
    color: var(--white);
    background-color: transparent;
    border-radius: 27px;
    border-color: var(--aquamarine);
    width: 300px;
    padding: 18px;
    margin-top: 50px;
    position: relative;
}

/* PAGINA DE INICIO (index.html) ---------------------------------------*/
