.secondmodal-container {

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 999;
} 

.secobdmodal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

